#content {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
  background-color: #fff;
  overflow: hidden;
}

#title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.citation {
  background-color: rgba(219, 255, 242, 0.523);
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#warningPara {
  color: red;
  display: flex;
  justify-content: center;
  border: solid 1px;
  padding: 3px;
  margin: 10px;
}

#captureBtn {
  margin: 10px auto;
  background: none;
  border: solid 2px blue;
  border-radius: 5px;
  padding: 5px;
  color: blue;
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
}

#captureBtn:hover {
  background-color: blue;
  color: #fff;
}

hr {
  width: 100%;
  height: 0.5px;
  background-color: black;
  border: none;
}

#citHeading {
  padding-left: 5px;
  font-weight: bold;
}

#copyBtn {
  margin: 0 5px 0 7px;
  font-size: 26px;
  color: #0000007d;
}

#copyBtn:hover {
  color: black;
}

#optionsBtn {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  display: flex;
  flex-direction: column;
}